/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

button {
  border: none;
  background-color: transparent;
}

.header {
  border: 2px solid blueviolet;
}

.main {
  border: 2px solid greenyellow;
}

.footer {
  border: 2px solid blue;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
}